@import url('https://fonts.googleapis.com/css2?family=Miniver&display=swap');

* {
    font-family: "poppin" sans-serif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;


}

body {
    margin: 0;
}

header {
    background-color: #680504;
    padding: 30px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;

}

a {
    color: #fff;
    text-decoration: none;

}

ul {
    list-style: none;
}

button {

    cursor: pointer;
    border: none;
    background: none;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 50px;
    font-size: x-large;
    font-weight: 40px;
    justify-content: flex-end;
    margin-right: 0;

}


.nav-link {
    padding: 9px 12px;
    transition: 0.3s ease;

}

.nav-link:hover {
    background-color: #e6af2e;
    border-radius: 20px;
}

.hero-section {
    background-color: #680504;
    scroll-behavior: smooth;
    margin-top: 80px;

}

.section-content {

    display: flex;

    align-items: center;
    min-height: 100vh;
    color: #fff;
    justify-content: space-between;
    margin-left: 200px;
    margin-bottom: 300px;

}

.title {
    font-family: "Miniver", sans-serif;
    font-weight: 500;
    font-size: xx-large;
    color: #e6af2e;

}

.sub-title {
    margin-top: 9px;
    max-width: 70%;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

.description {
    margin-top: 9px;
    font-size: medium;
    margin: 24px 0 40px;
    color: #fff;

}

.details {

    margin-left: 30px;
    margin-bottom: 40px;
}

.hero-image {
    max-width: 500px;
    height: 500px;
    margin-right: 300px;
    width: 10cm;


}

.buttons {
    display: flex;
    gap: 30px;

}

.button {
    padding: 10px 24px;
    background-color: #e6af2e;
    border-radius: 20px;
    font-weight: medium;
    border: 2px solid transparent;
    transition: 0.3 ease;
}

.button:hover,
.contact-us {

    color: #fff;
    border-color: #fff;
    background: transparent;
}

.contact-us:hover {

    color: #fff;
    border-color: #e6af2e;
    background: #e6af2e;
}


@media screen and (max-width: 900px) {

    .nav-menu {

        background: #fff;
        position: fixed;
        left: -300px;
        top: 0;
        width: 300px;
        height: 100%;
        align-items: center;
        flex-direction: column;
        transition: left 0.2s ease;
    }

    .nav-link a {
        color: black;
        font-size: large;
        display: block;
        margin-top: 14px;
        align-items: center;
        padding-bottom: 50px;


    }

    body.show-mobile-menu.navbar.nav-menu {
        left: 0;


    }

    .nav-link:hover {
        background-color: #e6af2e;
        border-radius: 10px;

    }




}

.section-content {
    flex-wrap: wrap;
}

#menu-close-button {
    position: absolute;
    right: 30px;
    top: 30px;

}

#menu-open-button {
    color: #fff;
    margin-left: 98%;
    font-size: larger;
}
