@import url('https://fonts.googleapis.com/css2?family=Miniver&display=swap');

* {

    font-family: "poppin" sans-serif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;


}

header {
    background-color: #680504;
    padding: 0px;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;

}

.navbar-home {
    padding: 30px;
    width: 100%;
    align-items: center;
}

a {
    color: #fff;
    text-decoration: none;

}

ul {
    list-style: none;
}

button {

    cursor: pointer;
    border: none;
    background: none;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 50px;
    font-size: x-large;
    font-weight: 40px;
    justify-content: flex-end;
    margin-right: 0;

}

#menu-close-button #menu-open-button {}

.nav-link {
    padding: 9px 12px;
    transition: 0.3s ease;

}

.nav-link:hover {
    background-color: #e6af2e;
    border-radius: 20px;
}

.hero-section {
    background-color: #680504;
    scroll-behavior: smooth;
}

.section-content {

    display: flex;

    align-items: center;
    min-height: 100vh;
    color: #fff;
    justify-content: space-between;
    margin-left: 200px;
    margin-bottom: 300px;

}

.title {
    font-family: "Miniver", sans-serif;
    font-weight: 500;
    font-size: xx-large;
    color: #e6af2e;

}

.sub-title {
    margin-top: 9px;
    max-width: 70%;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

.description {
    margin-top: 9px;
    font-size: medium;
    margin: 24px 0 40px;
    color: #fff;

}

.details {

    margin-left: 30px;
    margin-bottom: 40px;
}

.hero-image {
    max-width: 500px;
    height: 500px;
    margin-right: 100px;
    width: 30cm;
    margin-bottom: 39px;


}

.buttons {
    display: flex;
    gap: 30px;

}

.button {
    padding: 10px 24px;
    background-color: #e6af2e;
    border-radius: 20px;
    font-weight: medium;
    border: 2px solid transparent;
    transition: 0.3 ease;
}

.button:hover,
.contact-us {

    color: #fff;
    border-color: #fff;
    background: transparent;
}

.contact-us:hover {

    color: #fff;
    border-color: #e6af2e;
    background: #e6af2e;
}

/* menu style */
.menu-body {
    background-color: #f8f8f7;
    padding: 0;


}

.menu {
    display: flex;
    padding: 1rem 0;
    justify-content: space-around;
    align-items: center;
    gap: 20px;

}

.search-box {
    background-color: #e6af2e;
    border-radius: 10px;
    flex: 1;
    align-items: center;
    padding: 0 1rem;
    width: 50%;
    margin-left: 30px;

}

.search-box i {
    color: #550b14;
}

.search-box input {
    background: transparent;
    padding: 10px;


}

.cart-icon {
    background-color: transparent;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    color: #550b14;
    border: 1px solid #550b14;
    margin-right: 30px;
}

.cart-icon span {
    background-color: aquamarine;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    font-size: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    position: absolute;
    right: -5px;
    margin-right: 30px;

}

.cover {
    background-image: url(./assent/glenov-.jpg);
    background-size: cover;
    height: 25vh;
    background-position: center;
    border-radius: 10px;
    margin-top: 10px;

}

.cover-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    color: #f8f8f7;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;

}

.section-heading {
    font-size: x-large;
    text-transform: uppercase;
    margin: 1rem 0 10px 0;
    color: #680604a0;
    gap: 12px;
    flex-wrap: wrap;
}

.menu-container {

    display: flex;
    gap: 20px;
    flex-wrap: wrap;

}

.menu-item {
    width: 114px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid rgba(0, 0, 0, 0.153);
    padding: 10px 13px;
    border-radius: 10px;
    color: #680604a0;
}

.menu-item img {
    width: 100%;

}

/* card-list */
.card-container{

    display: flex;
    gap: 20px;
    flex-wrap: wrap;

}


.card-list{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 2rem;

}
.card-list{
    width: 190px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:10px;
    padding: 10px 1rem;
    border-radius: 10px;
    background-color: #f8f8f7;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #550b1495;

}
.card-list img{
    width: 100%;
}

.card-price{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

}
.card-price .price{
    color: #eba709;
    font-weight: 600;

}
.add-to-cart{
    background-color: #eba709;
    color: #f8f8f7;
    border-radius: 50%;
    cursor: pointer;
}
.add-to-cart:hover{

    color: #f8f8f7;
    box-shadow: rgba(0, 0, 0, 30%)0px 4px 4px,rgb(231, 236, 236)0px 0px 0px;
      
}  

/* cart menu slidebar */

 .sidebar{
    width: 300px;
    height: 100%;
    position: fixed;
    top:0;
    /* right: -300px; */
    right: 0; 
    background-color: #e7dddeeb;
    box-shadow: -4px 0 6px rgba(0, 0, 0, 0.1);
    transition:right 0.3s ease-in-out ;
    z-index: 1000;
    padding:20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

 }
 .sidebar-open{
    right:0;

 }
 .sidebar-close{
    position: absolute;
    right: 10px;
    top:10px;
    cursor: pointer;
    
 } 
 .cart-item{
    display: flex;
    flex-direction: column;
    gap:10px;
    margin-top:1rem; 
 }
.cart-item{
    display:flex;
    justify-content: space-between;
    padding: 10px 5px;
    border-radius:5px;
    color: black;
    border: 1px solid #ababa4;

}
.slider-footer{
    position: absolute;
    bottom:10px ;
    width: 88%;

}
.total-amount{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black; 
    border-radius: 5px;
    padding :15px 10px;

}
.cart-total{
    font-size: 16px;
    color: black; 
    font-weight: 500;
}
.check-btn{
   
    width: 100%;
    margin-top: 2rem;
    background-color: rgba(39, 181, 39, 0.93);
    color: black;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px; 
}